.main {
    max-width: 2560px;
    min-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
